@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.app__container{
  /* width: 100%; */
  max-width: 400px;;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  
}

.game__grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  overflow: hidden;
  border-radius: 10px;
  background-color: blanchedalmond;
  padding: 20px;
}

.game__card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game__card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  background-color: #ccc;
  margin: 10px;
}